<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="plantilla/template :: head">
	</head>
	<body>
		<nav th:replace="fragments/base :: navbar"></nav>
		
		<main>
		
			<div class="container">
				<div class="card">
		          <h4 class="card-header"><strong>Ocurrió un error en la aplicación</strong> </h4>              
		          
		          <div class="card-body">
					<div class="col-md-12 order-md-2 mb-4">
		              <ul class="list-group mb-3">
		              	<li class="list-group-item d-flex justify-content-between lh-condensed">
		                  <div>
		                    <small class="text-muted">ERROR HTTP 502 - EL SERVIDOR RECIBIÓ UNA RESPUESTA INVÁLIDA</small>
		                  </div>
		                </li>                                                                                                              
		                
		                <li class="list-group-item d-flex justify-content-between lh-condensed">
		                  <div>
		                    <small class="text-muted" th:text="'RECURSO: ' + ${path}"></small>
		                  </div>
		                </li>      
		                
		                <li class="list-group-item d-flex justify-content-between lh-condensed">
		                  <div>
		                    <small class="text-muted" th:text="'FECHA: ' + ${#dates.format(timestamp, 'dd-MM-yyyy HH:mm')}"></small>
		                  </div>
		                </li>                                                                                                                 
		              </ul>
		              
		              <a class="btn btn-primary" role="button" th:href="@{/}">Ir a Inicio</a>
		            </div>			
		          </div>
		        </div>
		      </div>
		</main>
		
		<footer th:replace="fragments/base :: footer"></footer>
  		
  		<th:block th:replace="fragments/base :: script"></th:block>
	</body>
</html>