<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head"></head>
<body>
	<nav th:replace="fragments/base :: navbar"></nav>
	<h1 class="text-center">Soy el formulario de empresas</h1>
	<h2 th:text="${titulo}">Sutitulo</h2>
	<hr>
	<form th:action="@{/empresa/guardar}" method="post">
		<div class="container form-row">
			<div class="form-group col-md-6">
				<label for="idEmpresa">ID </label> <input type="number"
					class="form-control" id="idEmpresa" name="idEmpresa" placeholder="ID de la empresa">
			</div>
			<div class="form-group col-md-6">
				<label for="CIFEmpresa">CIF </label> <input type="text"
					class="form-control" id="CIFEmpresa" placeholder="CIF de la empresa"
					name="CIFEmpresa">
			</div>
			<div class="form-group col-md-6">
				<label for="nombreEmpresa">Nombre </label> <input type="text"
					class="form-control" id="nombreEmpresa" placeholder="Nombre de la empresa"
					name="nombreEmpresa">
			</div>
			<div class="form-group col-md-6">
				<label for="nombreJuridicoEmpresa">Nombre Juridico</label> <input type="text"
					class="form-control" id="nombreJuridicoEmpresa" placeholder="Introduce el nombre juridico"
					name="nombreJuridicoEmpresa">
			</div>
			<div class="form-group col-md-6">
				<label for="empleadosEmpresa">Empleados Empresa</label> <input type="number"
					class="form-control" id="empleadosEmpresa" placeholder="Numero de empleados de la empresa"
					name="empleadosEmpresa">
			</div>

			<button type="submit" th:value="Alta" class="btn btn-warning" th:formaction="@{/empresa/guardar}">Alta</button>
			<button type="submit" th:value="Modificar" class="btn btn-warning" th:formaction="@{/empresa/modificar}">Modificar</button>
			<button type="submit" th:value="Borrar" class="btn btn-warning" th:formaction="@{/empresa/borrar}">Borrar</button>
			<div th:switch="${botonera}" class="form-group col-md-6 text-center">
				<hr>
				<button type="submit" th:case="alta" th:value="Alta"
					class="btn btn-warning" th:formaction="@{/empresa/guardar}">Alta</button>
				<button type="submit" th:case="editar" th:value="Editar"
					class="btn btn-warning" th:formaction="@{/empresa/editar}">Editar</button>
				<button type="submit" th:case="modificar"th:value="Modificar"
					class="btn btn-warning" th:formaction="@{/empresa/modificar}" >Modificar</button>
				<a href="/index" class="btn btn-primary">Volver</a>
				<!-- <button type="submit" th:value="Volver" class="btn btn-primary">Volver</button> -->
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base :: footer"></footer>
  	<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>