<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">

</head>


<body>
	<nav th:replace="fragments/base :: navbar"></nav>
	<h1 class="text-center">Soy el formulario de empresas</h1>
	<h2 th:text="${titulo}">Sutitulo</h2>
	<hr>

	<form class="row g-3 needs-validation" novalidate>
		<div class="col-md-4">
			<label for="validationCustom01" class="form-label">First name</label>
			<input type="text" class="form-control" id="validationCustom01"
				value="Mark" required>
			<div class="valid-feedback">Looks good!</div>
		</div>
		<div class="col-md-4">
			<label for="validationCustom02" class="form-label">Last name</label>
			<input type="text" class="form-control" id="validationCustom02"
				value="Otto" required>
			<div class="valid-feedback">Looks good!</div>
		</div>
		<div class="col-md-4">
			<label for="validationCustomUsername" class="form-label">Username</label>
			<div class="input-group has-validation">
				<span class="input-group-text" id="inputGroupPrepend">@</span> <input
					type="text" class="form-control" id="validationCustomUsername"
					aria-describedby="inputGroupPrepend" required>
				<div class="invalid-feedback">Please choose a username.</div>
			</div>
		</div>
		<div class="col-md-6">
			<label for="validationCustom03" class="form-label">City</label> <input
				type="text" class="form-control" id="validationCustom03" required>
			<div class="invalid-feedback">Please provide a valid city.</div>
		</div>
		<div class="col-md-3">
			<label for="validationCustom04" class="form-label">State</label> <select
				class="form-select" id="validationCustom04" required>
				<option selected disabled value="">Choose...</option>
				<option>...</option>
			</select>
			<div class="invalid-feedback">Please select a valid state.</div>
		</div>
		<div class="col-md-3">
			<label for="validationCustom05" class="form-label">Zip</label> <input
				type="text" class="form-control" id="validationCustom05" required>
			<div class="invalid-feedback">Please provide a valid zip.</div>
		</div>
		<div class="col-12">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value=""
					id="invalidCheck" required> <label class="form-check-label"
					for="invalidCheck"> Agree to terms and conditions </label>
				<div class="invalid-feedback">You must agree before
					submitting.</div>
			</div>
		</div>
		<div class="col-12">
			<button class="btn btn-primary" type="submit">Submit form</button>
		</div>
	</form>
	<div class="row">
		<div class="col-2"></div>
		<div class="col-8">
			<form class="container row g-3" th:object="${empresaregistrodto}" method="post">
				<h2>Credenciales de entrada</h2>
				<div class="col-md-3">
					<label for="emailEmpresa">Email </label>
					<input id="emailEmpresa"
						type="email" th:field="*{emailEmpresa}" class="form-control"
						placeholder="Email de la empresa"> <label
						id="errorEmailEmpresa" for="emailEmpresa"
						th:if="${#fields.hasErrors('emailEmpresa')}"
						th:errors="*{emailEmpresa}" class="form-text text-danger">
					</label>
				</div>
				<div class="col-md-4">
					<label for="passwordEmpresa">Password</label>
					<input
						id="passwordEmpresa" type="text" th:field="*{passEmpresa}"
						class="form-control" placeholder="Password">
					<label
						id="errorPasswordEmpresa" for="passwordEmpresa"
						th:if="${#fields.hasErrors('passEmpresa')}"
						th:errors="*{passEmpresa}" class="form-text text-danger">
					</label>
				</div>
				<hr>
				<h2>Datos Empresa</h2>
				<div class="col-md-3">
					<label for="CIFEmpresa">CIF </label>
					<input id="CIFEmpresa"
						type="text" th:field="*{cIFempresa}" class="form-control"
						placeholder="CIF de la empresa">
					<label id="errorCIF"
						for="CIFEmpresa" class="form-text text-danger"
						th:if="${#fields.hasErrors('cIFempresa')}"
						th:errors="*{cIFempresa}"></label>
				</div>
				<div class="col-md-3">
					<label for="nombreEmpresa">Nombre </label>
					<input id="nombreEmpresa"
						type="text" th:field="*{nombreEmpresa}" class="form-control"
						placeholder="Nombre de la empresa">
					<label
						id="errorNombreEmpresa" for="nombreEmpresa"
						th:if="${#fields.hasErrors('nombreEmpresa')}"
						th:errors="*{nombreEmpresa}" class="form-text text-danger">
					</label>
				</div>
				<div class="col-md-3">
					<label for="nombreJuridicoEmpresa">Nombre Juridico</label>
					<input
						id="nombreJuridicoEmpresa" type="text"
						th:field="*{nombreJuridicoEmpresa}" class="form-control"
						placeholder="Introduce el nombre juridico">
					<label
						id="errorNombreJuridicoEmpresa" for="nombreJuridicoEmpresa"
						class="form-text text-danger"
						th:if="${#fields.hasErrors('nombreJuridicoEmpresa')}"
						th:errors="*{nombreJuridicoEmpresa}"></label>
				</div>
				<div class="col-md-3">
					<label for="empleadosEmpresa">Empleados Empresa</label>
					<input
						id="empleadosEmpresa" type="number" th:field="*{empleadosEmpresa}"
						class="form-control"
						placeholder="Numero de empleados de la empresa">
					<label
						id="errorEmpleadosEmpresa" for="empleadosEmpresa"
						class="form-text text-danger"
						th:if="${#fields.hasErrors('empleadosEmpresa')}"
						th:errors="*{empleadosEmpresa}">
					</label>
				</div>
				<hr>
				<h2>Formas de contacto</h2>
				<div class="col-md-3">
					<label for="telefonoEmpresa">Telefono </label>
					<input
						id="telefonoEmpresa" type="number" th:field="*{telefonoEmpresa}"
						class="form-control" placeholder="Telefono de contacto">
					<label
						id="errorTelefonoEmpresa" for="telefonoEmpresa"
						th:if="${#fields.hasErrors('telefonoEmpresa')}"
						th:errors="*{telefonoEmpresa}" class="form-text text-danger">
					</label>
				</div>
				<div class="col-md-3">
					<label for="whatsappEmpresa">Whatsapp </label>
					<input
						id="whatsappEmpresa" type="number" th:field="*{whatsappEmpresa}"
						class="form-control"
						placeholder="Whatsapp de contacto">
					<label
						id="errorWhatsappEmpresa" for="whatsappEmpresa"
						th:if="${#fields.hasErrors('whatsappEmpresa')}"
						th:errors="*{whatsappEmpresa}"
						class="form-text text-danger">
					</label>
				</div>
				<div class="col-md-3">
					<label for="direccionEmpresa">Direccion </label>
					<input
						id="direccionEmpresa" type="text" th:field="*{direccionEmpresa}"
						class="form-control"
						placeholder="Dirección de empresa">
					<label id="errorDireccionEmpresa" for="direccionEmpresa"
						th:if="${#fields.hasErrors('direccionEmpresa')}"
						th:errors="*{direccionEmpresa}"
						class="form-text text-danger">
					</label>
				</div>
				<div class="col-md-3">
					<label for="provinciaEmpresa">Provincia </label>
					<!-- <input id="provinciaEmpresa" type="text"
						th:field="*{provinciaEmpresa}"
						class="form-control"
						placeholder="Provincia"> -->
					<select id="provinciaEmpresa" th:field="*{provinciaEmpresa}"
						class="form-select">
						<option th:each="prov : ${provincias}"
							th:value="${prov.idProvincia}" th:text="${prov.nombreProvincia}"
							th:selected="(${prov.idProvincia} == 11)">
						</option>
					</select>
					<label id="errorProvinciaEmpresa" for="provinciaEmpresa"
						th:if="${#fields.hasErrors('provinciaEmpresa')}"
						th:errors="*{provinciaEmpresa}" class="form-text text-danger">
					</label>
				</div>
				<div class="col-md-3">
					<label for="localidadEmpresa">Localidad </label>
					<input
						id="localidadEmpresa" type="text" th:field="*{localidadEmpresa}"
						class="form-control"
						placeholder="Localidad">
					<label
						id="errorLocalidadEmpresa" for="localidadEmpresa"
						th:if="${#fields.hasErrors('localidadEmpresa')}"
						th:errors="*{localidadEmpresa}"
						class="form-text text-danger">
					</label>
				</div>
			</form>
		</div>
	</div>
	<form th:action="@{/empresa/guardar}" th:object="${empresa}"
		method="post">
		<div class="container form-row">
			<!-- 	<div class="form-group col-md-6">
				<label for="idEmpresa">ID </label>
				<input id="idEmpresa" type="number"
					th:field="*{idEmpresa}"
					class="form-control"
					placeholder="ID de la empresa">
			</div>
			 -->
			<div class="form-group col-md-6">
				<label for="CIFEmpresa">CIF </label> <input id="CIFEmpresa"
					type="text" th:field="*{cIFempresa}" class="form-control"
					placeholder="CIF de la empresa"> <label id="errorCIF"
					for="CIFEmpresa" class="form-text text-danger"
					th:if="${#fields.hasErrors('cIFempresa')}"
					th:errors="*{cIFempresa}"></label>
			</div>
			<div class="form-group col-md-6">
				<label for="passwordEmpresa">Password</label> <input
					id="passwordEmpresa" type="text" th:field="*{credencial.pass}"
					class="form-control" placeholder="Password"> <label
					id="errorPasswordEmpresa" for="passwordEmpresa"
					th:if="${#fields.hasErrors('credencial.pass')}"
					th:errors="*{credencial.pass}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="nombreEmpresa">Nombre </label> <input id="nombreEmpresa"
					type="text" th:field="*{nombreEmpresa}" class="form-control"
					placeholder="Nombre de la empresa"> <label
					id="errorNombreEmpresa" for="nombreEmpresa"
					th:if="${#fields.hasErrors('nombreEmpresa')}"
					th:errors="*{nombreEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="nombreJuridicoEmpresa">Nombre Juridico</label> <input
					id="nombreJuridicoEmpresa" type="text"
					th:field="*{nombreJuridicoEmpresa}" class="form-control"
					placeholder="Introduce el nombre juridico"> <label
					id="errorNombreJuridicoEmpresa" for="nombreJuridicoEmpresa"
					class="form-text text-danger"
					th:if="${#fields.hasErrors('nombreJuridicoEmpresa')}"
					th:errors="*{nombreJuridicoEmpresa}"></label>
			</div>
			<div class="form-group col-md-6">
				<label for="emailEmpresa">Email </label> <input id="emailEmpresa"
					type="email" th:field="*{credencial.email}" class="form-control"
					placeholder="Email de la empresa"> <label
					id="errorEmailEmpresa" for="emailEmpresa"
					th:if="${#fields.hasErrors('credencial.email')}"
					th:errors="*{credencial.email}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="telefonoEmpresa">Telefono </label> <input
					id="telefonoEmpresa" type="number" th:field="*{telefonoEmpresa}"
					class="form-control" placeholder="Telefono de contacto"> <label
					id="errorTelefonoEmpresa" for="telefonoEmpresa"
					th:if="${#fields.hasErrors('telefonoEmpresa')}"
					th:errors="*{telefonoEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="whatsappEmpresa">Whatsapp </label> <input
					id="whatsappEmpresa" type="number" th:field="*{whatsappEmpresa}"
					class="form-control" placeholder="Whatsapp de contacto"> <label
					id="errorWhatsappEmpresa" for="whatsappEmpresa"
					th:if="${#fields.hasErrors('whatsappEmpresa')}"
					th:errors="*{whatsappEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="direccionEmpresa">Direccion </label> <input
					id="direccionEmpresa" type="text" th:field="*{direccionEmpresa}"
					class="form-control" placeholder="Dirección de empresa"> <label
					id="errorDireccionEmpresa" for="direccionEmpresa"
					th:if="${#fields.hasErrors('direccionEmpresa')}"
					th:errors="*{direccionEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="provinciaEmpresa">Provincia </label>
				<!-- <input id="provinciaEmpresa" type="text"
					th:field="*{provinciaEmpresa}"
					class="form-control"
					placeholder="Provincia"> -->
				<select id="provinciaEmpresa" th:field="*{provinciaEmpresa}"
					class="form-select">
					<option th:each="prov : ${provincias}"
						th:value="${prov.idProvincia}" th:text="${prov.nombreProvincia}"
						th:selected="(${prov.idProvincia} == 11)"></option>
				</select> <label id="errorProvinciaEmpresa" for="provinciaEmpresa"
					th:if="${#fields.hasErrors('provinciaEmpresa')}"
					th:errors="*{provinciaEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="localidadEmpresa">Localidad </label> <input
					id="localidadEmpresa" type="text" th:field="*{localidadEmpresa}"
					class="form-control" placeholder="Localidad"> <label
					id="errorLocalidadEmpresa" for="localidadEmpresa"
					th:if="${#fields.hasErrors('localidadEmpresa')}"
					th:errors="*{localidadEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="form-group col-md-6">
				<label for="empleadosEmpresa">Empleados Empresa</label> <input
					id="empleadosEmpresa" type="number" th:field="*{empleadosEmpresa}"
					class="form-control"
					placeholder="Numero de empleados de la empresa"> <label
					id="errorEmpleadosEmpresa" for="empleadosEmpresa"
					class="form-text text-danger"
					th:if="${#fields.hasErrors('empleadosEmpresa')}"
					th:errors="*{empleadosEmpresa}"></label>
			</div>
			<button type="submit" th:value="Alta" class="btn btn-warning"
				th:formaction="@{/empresa/guardar}">Alta</button>
			<button type="submit" th:value="Modificar" class="btn btn-warning"
				th:formaction="@{/empresa/modificar}">Modificar</button>
			<button type="submit" th:value="Borrar" class="btn btn-warning"
				th:formaction="@{/empresa/borrar}" formnovalidate="formnovalidate">Borrar</button>
			<div th:switch="${botonera}" class="form-group col-md-6 text-center">
				<hr>
				<button type="submit" th:case="alta" th:value="Alta"
					class="btn btn-warning" th:formaction="@{/empresa/guardar}">Alta</button>
				<button type="submit" th:case="editar" th:value="Editar"
					class="btn btn-warning" th:formaction="@{/empresa/editar}">Editar</button>
				<button type="submit" th:case="modificar" th:value="Modificar"
					class="btn btn-warning" th:formaction="@{/empresa/modificar}">Modificar</button>
				<a href="/index" class="btn btn-primary">Volver</a>
				<!-- <button type="submit" th:value="Volver" class="btn btn-primary">Volver</button> -->
			</div>
		</div>
	</form>
	<footer th:replace="fragments/base :: footer"></footer>
  	<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>