<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
	<meta charset="utf-8">
</head>
<body>
	<header></header>
	
	<nav th:replace="fragments/base :: navbar"></nav>
	
	<main>
		<h1 class="text-center" th:text="'Habilidades para ' + ${ofertaEmpleo.tituloOferta}"></h1>
		<hr>
		<section class="row">
			<div class="col-2"></div>
			<div class="card row col-2" style="height: fit-content; padding:1%;margin-top: 3%;">
				
				<div th:switch="${errorType}">
				    <p th:case="0" hidden=true/>
				    <p th:case="1" th:text="${errorMsg}" class="alert alert-warning"/>
				    <p th:case="2" th:text="${errorMsg}" class="alert alert-danger"/>
				</div>
				<form th:action="@{/app/empresa/oferta/habilidad/guardar}" th:object="${habilidadOferta}" method="POST">
					<label for="habilidad">Habilidad: </label>
					
					<select id="habilidad" th:field="*{habilidad}" class="form-control" th:disabled="${!isAllowedToAdd}">
						<optgroup label="DURAS">
							<option th:each="habilidadX:${listaHabilidadesDurasRestante}"
								th:value="${habilidadX.idHabilidad}"
								th:text="${habilidadX.nombreHabilidad}">
						</optgroup>
						<optgroup label="BLANDAS">
							<option th:each="habilidadX:${listaHabilidadesBlandasRestante}"
								th:value="${habilidadX.idHabilidad}"
								th:text="${habilidadX.nombreHabilidad}">
						</optgroup>
					</select>	
					
					<label for="experiencia">Experiencia (meses): </label>
					
					<input id="experiencia" type="number" min="0" 
						th:disabled="${!isAllowedToAdd}"
						th:field="*{experienciaOferta}"
						class="form-control"
						required>
						
					<label for="isObligatorio">Requerida:</label>
					<select id="isObligatorio" name="isObligatorio" class="form-control" th:disabled="${!isAllowedToAdd}">
						<option	value=true>Requisito</option>
						<option value=false>Valorable</option>
					</select>
					
					<label for="baremo">Baremo importancia:</label>
					<input id="baremo" type="range" min="1" max="9"
						th:disabled="${!isAllowedToAdd}"
						th:field="*{baremo}"
						style="width:100%"
						required
						onmousemove="valorBaremo.innerHTML=baremo.value">
					<p class="text-center" id=valorBaremo th:value="${habilidadOferta.baremo}">5</p>
					
					<input type="hidden" name="ofertaEmpleo" th:disabled="${!isAllowedToAdd}"
							th:value = "${ofertaEmpleo.idOfertaEmpleo}"
							class="form-control"
					/>
					
						
					<br>
					
					<div class="text-center">
						<input th:disabled="${!isAllowedToAdd}" type="submit" th:value="Añadir"
								class="btn btn-primary"/>
								
						<button class="btn btn-warning" th:formaction="@{/app/empresa/oferta/listado/}" formNoValidate>Volver</button>
					</div>
				</form>
			</div>
			
			<div class="container col-5">
				<div class="row">
					<div class="col">
						<h2 class="text-center">Habilidades Duras</h2>
						<table class="table table-hover table-bordered">
							<thead class="table-dark">
								<tr>
									<th>Habilidad</th>
									
									<th>Experiencia</th>
									
									<th>Requerida</th>
									
									<th>Baremo</th>
									
									<th>Gestión</th>
								</tr>
							</thead>
							<tr th:each="habilidad:${habilidadesDurasAnadidas}">
								<td class="align-middle" th:text="${habilidad.habilidad.nombreHabilidad}"></td>
									
								<td class="align-middle" th:text="${habilidad.experienciaOferta}"></td>
								
								<td class="align-middle" th:text="${habilidad.isObligatorio} ? 'SI' : 'NO'"></td>
								
								<td class="align-middle" th:text="${habilidad.baremo}"></td>
								
								<td class="align-middle">
									<a th:href="@{'/app/empresa/oferta/habilidad/modificar/'+ ${habilidad.habilidad.idHabilidad}
										+ '/' + ${ofertaEmpleo.idOfertaEmpleo}}"
										class="btn btn-success btn-sm"
										role="button"
										title="Editar Habilidad">
										<i class="fas fa-pencil-alt" aria-hidden="true"></i>
									</a>
									<a th:href="@{'/app/empresa/oferta/habilidad/eliminar/' + ${habilidad.habilidad.idHabilidad}
										+ '/' + ${ofertaEmpleo.idOfertaEmpleo}}"
										onclick="return confirm('¿Estas seguro?')"
										class="btn btn-danger btn-sm"
										role="button"
										title="Eliminar Habilidad">
										<i class="fas fa-trash" aria-hidden="true"></i>
									</a>
								</td>
							</tr>
						</table>
						
						
						<h2 class="text-center">Habilidades Blandas</h2>
						<table class="table table-hover table-bordered">
							<thead class="table-dark">
								<tr>
									<th>Habilidad</th>
									
									<th>Experiencia</th>
									
									<th>Requerida</th>
									
									<th>Baremo</th>
									
									<th>Gestión</th>
								</tr>
							</thead>
							<tr th:each="habilidad:${habilidadesBlandasAnadidas}">
								<td class="align-middle" th:text="${habilidad.habilidad.nombreHabilidad}"
									th:style="${thisHabilidad==habilidad.habilidad ? 'background-color:#32a84e' : ''}"
									style="background-color:#ff0000;">
								</td>
									
								<td class="align-middle" th:text="${habilidad.experienciaOferta}"
									th:style="${thisHabilidad==habilidad.habilidad ? 'background-color:#32a84e' : ''}"
									style="background-color:#ff0000;">
								</td>
							
								<td class="align-middle" th:text="${habilidad.isObligatorio} ? 'SI' : 'NO'"
									th:style="${thisHabilidad==habilidad.habilidad ? 'background-color:#32a84e' : ''}"
									style="background-color:#ff0000;">
								</td>
								
								<td class="align-middle" th:text="${habilidad.baremo}"
									th:style="${thisHabilidad==habilidad.habilidad ? 'background-color:#32a84e' : ''}"
									style="background-color:#ff0000;">
								</td>
								
								<td class="align-middle">
									<a th:href="@{'/app/empresa/oferta/habilidad/modificar/'+ ${habilidad.habilidad.idHabilidad}
										+ '/' + ${ofertaEmpleo.idOfertaEmpleo}}"
										class="btn btn-success btn-sm"
										role="button"
										title="Editar Habilidad">
										<i class="fas fa-pencil-alt" aria-hidden="true"></i>
									</a>
									<a th:href="@{'/app/empresa/oferta/habilidad/eliminar/' + ${habilidad.habilidad.idHabilidad}
										+ '/' + ${ofertaEmpleo.idOfertaEmpleo}}"
										onclick="return confirm('¿Estas seguro?')"
										class="btn btn-danger btn-sm"
										role="button"
										title="Eliminar Habilidad">
										<i class="fas fa-trash" aria-hidden="true"></i>
									</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
	
		<aside></aside>
	</main>
	
	<footer th:replace="fragments/base :: footer"></footer>
  		
  	<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>