<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: head">
	<meta charset="UTF-8">
</head>
<body>
	<nav th:replace="fragments/base :: navbar"></nav>
	<h4 class="my-5 text-center">Registro empresas</h4>
	<main class="container content">
		<hr>
		<form class="container row g-3" th:action="@{/empresa/registro}" th:object="${empresaRegistroDto}"
			autocomplete="off" method="post">

			<h5>Datos de sesión</h5>

			<div class="col-md-6">
				<label for="emailEmpresa" class="form-label">Correo </label>
				<input id="emailEmpresa" type="email" th:field="*{emailEmpresa}" class="form-control"
					placeholder="Email de la empresa">
				<label id="errorEmailEmpresa" for="emailEmpresa" th:if="${#fields.hasErrors('emailEmpresa')}"
					th:errors="*{emailEmpresa}" class="form-text text-danger">
				</label>
				<!-- Validacion personalizada de campo comprueba Email existente (ErrorEmailExist) -->
				<label for="emailEmpresa" 
					th:text="${mapaErrores.get('ErrorEmailExist')} ? ${mapaErrores.get('ErrorEmailExist')} : ''"
					class="form-text text-danger">
				</label>
				<!-- Validacion personalizada de campo comprueba Email repetido (errorEmailNoDuplicate)-->
				<label for="emailEmpresa"
					th:text="${mapaErrores.get('errorEmailNoDuplicate')} ? ${mapaErrores.get('errorEmailNoDuplicate')} : ''"
					class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-6">
				<label for="confirmEmailEmpresa" class="form-label">Repetir correo</label>
				<input id="confirmEmailEmpresa" type="email" th:field="*{confirmEmailEmpresa}"
					placeholder="Repetir Email" class="form-control">
				<label id="errorConfirmEmailEmpresa" for="confirmEmailEmpresa"
					th:if="${#fields.hasErrors('confirmEmailEmpresa')}" th:errors="*{confirmEmailEmpresa}"
					class="form-text text-danger">
				</label>
				<!-- Validacion personalizada de campo comprueba Email repetido (errorEmailNoDuplicate)-->
				<label for="confirmEmailEmpresa"
					th:text="${mapaErrores.get('errorEmailNoDuplicate')} ? ${mapaErrores.get('errorEmailNoDuplicate')} : ''"
					class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-6">
				<label for="passwordEmpresa" class="form-label">Contraseña</label>
				<input id="passwordEmpresa" type="password" th:field="*{passEmpresa}" class="form-control"
					placeholder="Contraseña">
				<label id="errorPasswordEmpresa" for="passwordEmpresa" th:if="${#fields.hasErrors('passEmpresa')}"
					th:errors="*{passEmpresa}" class="form-text text-danger">
				</label>
				<!-- Validacion personalizada de campo Email no coincidente (errorPassNoDuplicate)-->
				<label for="passwordEmpresa"
					th:text="${mapaErrores.get('errorPassNoDuplicate')} ? ${mapaErrores.get('errorPassNoDuplicate')} : ''"
					class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-6">
				<label for="confirmPassEmpresa" class="form-label">Repetir contraseña</label>
				<input id="confirmPassEmpresa" type="password" th:field="*{confirmPassEmpresa}" class="form-control"
					placeholder="Contraseña">
				<label id="errorConfirmPassEmpresa" for="confirmPassEmpresa"
					th:if="${#fields.hasErrors('confirmPassEmpresa')}" th:errors="*{confirmPassEmpresa}"
					class="form-text text-danger">
				</label>
				<!-- Validacion personalizada de campo no coincidente (errorPassNoDuplicate)-->
				<label for="confirmPassEmpresa"
					th:text="${mapaErrores.get('errorPassNoDuplicate')} ? ${mapaErrores.get('errorPassNoDuplicate')} : ''"
					class="form-text text-danger">
				</label>
			</div>
			<hr>
			<h5>Datos Empresa</h5>
			<div class="col-md-5">
				<label for="nombreEmpresa" class="form-label">Nombre </label>
				<input id="nombreEmpresa" type="text" th:field="*{nombreEmpresa}" class="form-control"
					placeholder="Nombre de la empresa">
				<label id="errorNombreEmpresa" for="nombreEmpresa" th:if="${#fields.hasErrors('nombreEmpresa')}"
					th:errors="*{nombreEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-7">
				<label for="nombreJuridicoEmpresa" class="form-label">Nombre Juridico</label>
				<input id="nombreJuridicoEmpresa" type="text" th:field="*{nombreJuridicoEmpresa}" class="form-control"
					placeholder="Introduce el nombre juridico">
				<label id="errorNombreJuridicoEmpresa" for="nombreJuridicoEmpresa" class="form-text text-danger"
					th:if="${#fields.hasErrors('nombreJuridicoEmpresa')}" th:errors="*{nombreJuridicoEmpresa}">
				</label>
			</div>
			<div class="col-md-4">
				<label for="CIFEmpresa" class="form-label">CIF/NIF</label>
				<input id="CIFEmpresa" type="text" th:field="*{cIFempresa}" class="form-control"
					placeholder="CIF de la empresa">
				<label id="errorCIF" for="CIFEmpresa" class="form-text text-danger"
					th:if="${#fields.hasErrors('cIFempresa')}" th:errors="*{cIFempresa}">
				</label>
				<!-- Validacion personalizada de campo comprueba que no exista el CIF con anterioridad (errorCIFExist) -->
				<label for="CIFEmpresa"
					th:text="${mapaErrores.get('errorCIFExist')} ? ${mapaErrores.get('errorCIFExist')} : ''"
					class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-5">
				<label for="sectorLaboralEmpresa" class="form-label">Sector Laboral </label>
				<select id="sectorLaboralEmpresa" th:field="*{sectorEmpresa}" class="form-select">
					<option th:each="prov : ${sectores}" th:value="${prov.idSectorLaboral}"
						th:text="${prov.nombreSectorLaboral}" th:selected="(${prov.idSectorLaboral} == 11)">
					</option>
				</select>
				<label id="errorProvinciaEmpresa" for="provinciaEmpresa"
					th:if="${#fields.hasErrors('provinciaEmpresa')}" th:errors="*{provinciaEmpresa}"
					class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-3">
				<label for="empleadosEmpresa" class="form-label">Empleados Empresa</label>
				<input id="empleadosEmpresa" type="number" th:field="*{empleadosEmpresa}" class="form-control"
					placeholder="Numero de empleados de la empresa">
				<label id="errorEmpleadosEmpresa" for="empleadosEmpresa" class="form-text text-danger"
					th:if="${#fields.hasErrors('empleadosEmpresa')}" th:errors="*{empleadosEmpresa}">
				</label>
			</div>
			<hr>
			<h5>Formas de contacto</h5>
			<div class="col-md-6">
				<label for="telefonoEmpresa" class="form-label">Telefono </label>
				<input id="telefonoEmpresa" type="text" th:field="*{telefonoEmpresa}" class="form-control"
					placeholder="Telefono de contacto">
				<label id="errorTelefonoEmpresa" for="telefonoEmpresa" th:if="${#fields.hasErrors('telefonoEmpresa')}"
					th:errors="*{telefonoEmpresa}" class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-6">
				<label for="whatsappEmpresa" class="form-label">WhatsApp </label>
				<input id="whatsappEmpresa" type="text" th:field="*{whatsappEmpresa}" class="form-control"
					placeholder="Whatsapp de contacto">
				<label id="errorWhatsappEmpresa" for="whatsappEmpresa" th:if="${#fields.hasErrors('whatsappEmpresa')}"
					th:errors="*{whatsappEmpresa}" class="form-text text-danger">
				</label>
			</div>

			<div class="col-md-3">
				<label for="provinciaEmpresa" class="form-label">Provincia </label>
				<!-- <input id="provinciaEmpresa" type="text"
						th:field="*{provinciaEmpresa}"
						class="form-control"
						placeholder="Provincia"> -->
				<select id="provinciaEmpresa" th:field="*{provinciaEmpresa}" class="form-select">
					<option th:each="prov : ${provincias}" th:value="${prov.idProvincia}"
						th:text="${prov.nombreProvincia}" th:selected="(${prov.idProvincia} == 11)">
					</option>
				</select>
				<label id="errorProvinciaEmpresa" for="provinciaEmpresa"
					th:if="${#fields.hasErrors('provinciaEmpresa')}" th:errors="*{provinciaEmpresa}"
					class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-9">
				<label for="localidadEmpresa" class="form-label">Localidad </label>
				<input id="localidadEmpresa" type="text" th:field="*{localidadEmpresa}" class="form-control"
					placeholder="Localidad">
				<label id="errorLocalidadEmpresa" for="localidadEmpresa"
					th:if="${#fields.hasErrors('localidadEmpresa')}" th:errors="*{localidadEmpresa}"
					class="form-text text-danger">
				</label>
			</div>
			<div class="col-md-12">
				<label for="direccionEmpresa" class="form-label">Dirección</label>
				<input id="direccionEmpresa" type="text" th:field="*{direccionEmpresa}" class="form-control"
					placeholder="Dirección de empresa">
				<label id="errorDireccionEmpresa" for="direccionEmpresa"
					th:if="${#fields.hasErrors('direccionEmpresa')}" th:errors="*{direccionEmpresa}"
					class="form-text text-danger">
				</label>
			</div>
			<hr>
		
		
	
			<div class="col-md-12  text-center align-middle">
	
	
				<button type="submit" class="btn btn-primary" tabindex="11">Registrarse</button>
				<a href="javascript: history.go(-1)" class="btn btn-secondary" tabindex="12">Volver</a>
			</div>
			<hr>
			<div class="row">
				<div class=" text-center">
					<a th:href="@{/candidato/login}" class="btn btn-secondary" tabindex="13">Ya tengo una
						cuenta, entrar</a>

		
				</div>
			</div>

		</form>
		</section>
	</main>





	<footer th:replace="fragments/base :: footer"></footer>
	<th:block th:replace="fragments/base :: script"></th:block>
</body>

</html>