<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template-registro-login :: head">

</head>

<body>
	<header th:replace="plantilla/template-registro-login :: header">

	</header>

	<div class="container wrapper">

		<div class="row g-5 justify-content-center p-5">

			<div class="col-md bg-light p-5">
				<h4 class="mb-3 text-center">Registro Empresa</h4>
				<form class="form " th:action="@{/empresa/guardar}" th:object="${empresa}"
					method="post">
					<div class="container">
						<div class="row">
							<div class="col-md mb-3">
								<div class="form-group mb-3">
									<label class="form-label" for="nombre">Nombre</label> <input
										type="text" class="form-control" id="nombre"
										placeholder="Nombre" required>
								</div>
								<div class="form-group mb-3">
									<label class="form-label" for="telefono">Teléfono</label> <input
										type="text" class="form-control" id="telefono"
										placeholder="Teléfono" required>
								</div>

								<div class=" form-group mb-3">
									<label for="email" class="form-label">Correo</label> <input
										type="email" class="form-control" id="email"
										placeholder="correo@gmail.com" required>
								</div>
								<div class=" form-group mb-3">
									<label for="confEmail" class="form-label">Confirmar
										Correo </label> <input type="email" class="form-control"
										id="confEmail" placeholder="correo@gmail.com" required>
								</div>



							</div>

							<div class="col-md mb-3">
								<div class="form-group mb-3">
									<label class="form-label" for="cif">CIF</label> <input
										type="text" class="form-control" id="cif" placeholder="CIF"
										required>
								</div>

								<div class="form-group mb-3">

									<label class="form-label" for="cp">Código Postal</label> <input
										type="text" class="form-control " id="cp" placeholder="CP"
										required>
								</div>

								<div class="form-group mb-3">
									<label for="pass" class="form-label">Contraseña</label> <input
										type="password" class="form-control" id="pass"
										placeholder="Contraseña" required>

								</div>

								<div class="form-group mb-3">
									<label for="confirmPass" class="form-label">Confirmar
										Contraseña</label> <input type="password" class="form-control"
										id="confirmPass" placeholder="Contraseña" required>

								</div>

							</div>

							<div class="form-group mb-3">
								<label for="descripcion">Descripción</label>
								<textarea class="form-control" id="descripcion"
									rows="3"></textarea>
							</div>
							<input type="submit" class="btn btn-primary" value="Registrar">
						</div>

					</div>

				
				</form>
			</div>
		</div>

	</div>
	<footer th:replace="plantilla/template-registro-login :: footer">

	</footer>
	<div th:replace="plantilla/template-registro-login :: boostrap-js"></div>

</body>

</html>