<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: head">
	<meta charset="UTF-8">
</head>


<body>
	<nav th:replace="fragments/base :: navbar" tabindex="20"></nav>



	<main class="container content">

		<div class="row g-5 justify-content-center p-5">

			<h4 class="mb-3 text-center">Registro Usuario</h4>
			<hr>
			<section class="col-8">
				<form class="container row g-3" th:action="@{/candidato/registro}" th:object="${candidato}"
					method="post">
					<h5>Datos personales</h5>
					<div class="col-md-6">
						<label for="email" class="form-label">Correo</label> <input type="email" class="form-control"
							id="email" th:field="*{emailCandidato}" placeholder="correo@gmail.com" tabindex="2">
						<div class="alert-danger" th:if="${#fields.hasErrors('emailCandidato')}"
							th:errors="*{emailCandidato}"></div>
						<div class="alert-danger" th:if="${error}" th:text="${error}"></div>
						<div class="alert-danger" th:if="${errorEmail}" th:text="${errorEmail}"></div>
					</div>
					<div class="col-md-6">
						<label for="confEmail" class="form-label">Confirmar Correo
						</label> <input type="email" class="form-control" id="confEmail" placeholder="correo@gmail.com"
							th:field="*{emailConfirmCandidato}" tabindex="3">
						<div class="alert-danger" th:if="${#fields.hasErrors('emailConfirmCandidato')}"
							th:errors="*{emailConfirmCandidato}"></div>
					</div>

					<div class="col-md-6">
						<label for="pass" class="form-label">Contraseña</label> <input type="password"
							class="form-control" id="pass" placeholder="Contraseña" required th:field="*{passCandidato}"
							tabindex="4">
						<div class="alert-danger" th:if="${#fields.hasErrors('passCandidato')}"
							th:errors="*{passCandidato}"></div>
						<div class="alert-danger" th:if="${errorPass}" th:text="${errorPass}"></div>

					</div>

					<div class="col-md-6">
						<label for="confirmPass" class="form-label">Confirmar
							Contraseña</label> <input type="password" class="form-control" id="confirmPass"
							placeholder="Contraseña" required th:field="*{passConfirmCandidato}" tabindex="5">
						<div class="alert-danger" th:if="${#fields.hasErrors('passConfirmCandidato')}"
							th:errors="*{passConfirmCandidato}"></div>

					</div>
					<hr>
					<h5>Datos personales</h5>
					<div class="col-md-6">
						<label class="form-label" for="nombre">Nombre</label> <input th:field="*{nombreCandidato}"
							type="text" class="form-control" id="nombre" placeholder="Nombre" required tabindex="6">
						<div class="alert-danger" th:if="${#fields.hasErrors('nombreCandidato')}"
							th:errors="*{nombreCandidato}"></div>


					</div>
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label class="form-label" for="apellidos">Apellidos</label> <input type="text"
								class="form-control" id="apellidos" placeholder="Apellidos" required
								th:field="*{apellidosCandidato}" tabindex="7">
							<div class="alert-danger" th:if="${#fields.hasErrors('apellidosCandidato')}"
								th:errors="*{apellidosCandidato}"></div>
						</div>
					</div>

					<div class="col-md-4">
						<label class="form-label" for="telefono">Teléfono</label> <input th:field="*{telefonoCandidato}"
							type="text" class="form-control" id="telefono" placeholder="+34 600 500 400" required
							tabindex="8">
						<div class="alert-danger" th:if="${#fields.hasErrors('telefonoCandidato')}"
							th:errors="*{telefonoCandidato}"></div>

					</div>

					<div class="col-md-4">
						<label for="provinciaCandidato">Provincia </label>
						<select id="provinciaCandidato" th:field="*{provinciaCandidato}" class="form-select">
							<option th:each="prov : ${provincias}" th:value="${prov.idProvincia}"
								th:text="${prov.nombreProvincia}" th:selected="(${prov.idProvincia} == 11)">
							</option>
						</select>
						<div id="errorProvinciaCandidato" for="provinciaCandidato"
							th:if="${#fields.hasErrors('provinciaCandidato')}" th:errors="*{provinciaCandidato}"
							class="form-text text-danger">
						</div>
					</div>

					<div class=" col-md-4">
						<label class="form-label" for="fecha">Fecha de nacimiento</label>
						<input id="fecha" type="date" class="form-control" th:field="*{fechaNacimientoCandidato}"
							tabindex="10">
						<div class="alert-danger" th:if="${#fields.hasErrors('fechaNacimientoCandidato')}"
							th:errors="*{fechaNacimientoCandidato}"></div>

					</div>


					<hr>
					<div class="col-md-12  text-center align-middle">
						<input type="submit" class="btn btn-success" value="Registrar" tabindex="11"> <a
							href="javascript: history.go(-1)" class="btn btn-primary" tabindex="12">Volver</a>
					</div>
					<hr>
					<div class="row">
						<div class=" text-center">
							<a th:href="@{/candidato/login}" class="btn btn-secondary" tabindex="13">Ya tengo una
								cuenta, entrar.</a>

							<a th:href="@{/empresa/registro}" class="btn btn-secondary" tabindex="14">Soy una
								empresa.</a>
						</div>
					</div>




				</form>
			</section>
		</div>
	</main>

























	<footer th:replace="fragments/base :: footer"></footer>
	<th:block th:replace="fragments/base :: script"></th:block>

</body>


</html>