<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: head">

</head>

<body>
	<nav th:replace="fragments/base :: navbar"></nav>

	<div class="container wrapper">

		<div class="row g-5 justify-content-center p-5">

			<div class="col-md bg-light p-5">
				<h4 class="mb-3 text-center">Modificar datos</h4>
				<form class="form " th:action="@{/candidato/modify}" th:object="${sessionCandidato}" method="post">
					<div class="container">
						<div class="row">
							<div class="col-md mb-3">

								<!-- <input type="hidden" th:field=*{idCandidato} th:value="*{idCandidato}" /> -->
<!-- global errors thymeleaf-->
								<div th:if="${hasErrors}" class="alert alert-danger" role="alert">
									<div th:each="${error in errors}" class="alert alert-danger" role="alert">
										<div th:text="${error}"></div>
									</div>
									</div>

								<div class="form-group mb-3">
									<label class="form-label" for="nombre">Nombre</label> <input
										th:field="*{nombreCandidato}" type="text" class="form-control" id="nombre"
										th:value="*{nombreCandidato}" required>
									<div class="alert-danger" th:if="${#fields.hasErrors('nombreCandidato')}"
										th:errors="*{nombreCandidato}"></div>
								</div>

								<div class="col-md mb-3">
									<div class="form-group mb-3">
										<label class="form-label" for="apellidos">Apellidos</label> <input type="text"
											class="form-control" id="apellidos" th:value="*{apellidosCandidato}"
											required th:field="*{apellidosCandidato}">
										<div class="alert-danger" th:if="${#fields.hasErrors('apellidosCandidato')}"
											th:errors="*{apellidosCandidato}"></div>
									</div>

								</div>

								<div class="form-group mb-3">
									<label class="form-label" for="telefono">Teléfono</label> <input
										th:field="*{telefonoCandidato}" type="text" class="form-control" id="telefono"
										th:value="*{telefonoCandidato}" required>
									<div class="alert-danger" th:if="${#fields.hasErrors('telefonoCandidato')}"
										th:errors="*{telefonoCandidato}"></div>
								</div>

							

								<div class=" form-group mb-3">
									<label class="form-label" for="fecha">Fecha de
										nacimiento</label> <input id="fecha" type="date" class="form-control"
										th:field="*{fechaNacimientoCandidato}" th:value="*{fechaNacimientoCandidato}"
										required>
										<div class="alert-danger"
										th:if="${#fields.hasErrors('fechaNacimientoCandidato')}"
										th:errors="*{fechaNacimientoCandidato}"></div>
			
								</div>


								</div>



							</div>
						</div>

						<div class="row">
							<input type="submit" class="btn btn-primary" value="Modificar">
						</div>


					</div>


				</form>
			</div>
		</div>

	</div>























	<footer th:replace="fragments/base :: footer"></footer>
	<th:block th:replace="fragments/base :: script"></th:block>


</body>

</html>