<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: head">
<meta charset="UTF-8">

</head>

<body>
	<nav th:replace="fragments/base :: navbar"></nav>
	
	<main class="container content">
	<h1 class="text-center align-middle text-secondary mt-3 display-3">Ofertas
		de empleo disponibles</h1>
		<h5 th:text="${msgError}" class="form-text text-danger" style="text-align: center;"></h5>
	<hr>
		<section class="row">
			<!-- SECCION FILTRO -->
			<section class="col-2 border border-light shadow-lg p-3 mb-5 bg-body rounded">
			<h5 class="alert alert-primary text-center">Buscador</h5>
			<form action="/" method="get">
					<div class="form-group">
						<label for="tituloOferta">Título</label>
						<input id="tituloOferta"
							type="text"
							name="titulo"
							th:value="${tituloOferta}"
							placeholder="Título..." 
							class="form-control">
					</div>
					<div class="form-group">
						<label for="salario">Salario Minimo</label>
						<input id="salario" 
							type="number"
							th:value="${salarioOferta}"
							name="salarioMinimo"
							min="0"
							placeholder="Salario minimo..." 
							class="form-control">
					</div>
					<hr>
					<div class="text-center">

						<button type="submit" class="btn btn-primary"  style="width : 100%">Filtrar</button>
						<button type="submit" formaction="/limpiarFiltro" class="btn btn-dark"  style="width : 100%">Ver todas</button>
					</div>
				</form>
			</section>
			<!-- Fin Filtros -->
			<!-- SECCION TARJETA OFERTA -->
			<section class="col-8 row inline-block">
				<div th:each="oferta:${ofertas}" class="col-6">
					<div class="card text-center shadow-lg p-3 mb-5 bg-body rounded">
						<header class="card-header"	th:text="${oferta.empresa.nombreEmpresa}"></header>
						<div class="card-body">
							<h5 class="card-title" th:text="${oferta.tituloOferta}"></h5>
							<p class="recortar-contenido card-text"
								th:text="${oferta.descripcionOferta}"></p>
							<a th:href="@{'/oferta/detalle/' + ${oferta.idOfertaEmpleo}}"
								class="btn btn-primary">Detalle</a>
						</div>
						<footer class="card-footer text-muted"
							th:text="${oferta.fechaInicioOfertaOrdenada}">
						</footer>
					</div>
				</div>
			</section>
			<!-- Fin Tarjeta -->
			<!-- SECCION PUBLICIDAD -->
			<aside th:replace="fragments/base :: aside" class="col border border-dark"></aside>
		</section>
	</main>

	<nav class="d-flex justify-content-center">
		<nav class="margin-auto"
			th:replace="fragments/paginator-nav :: paginator"></nav>
	</nav>

	<footer th:replace="fragments/base :: footer"></footer>
	<th:block th:replace="fragments/base :: script"></th:block>
</body>

</html>