<!doctype html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/base :: head">

	<meta charset="UTF-8">
</head>


<body>

	<nav th:replace="fragments/base :: navbar"></nav>





	<main class="container wrapper-login">

		<h3 class="text-success text-center" th:if="${msg}" th:text="${msg}"></h3>
		<div class="row g-5 justify-content-center p-5">

			<div class="col-md bg-light p-5">
				<h4 class="mb-3 text-center">Iniciar sesión</h4>
				<form class="form " th:action="@{/login}" method="POST">
					<div class="container">
						<div class="row">
							<div class="col-md mb-3">


								<div class=" form-group mb-3">
									<label for="email" class="form-label">Correo</label> <input type="email"
										class="form-control" id="email" name="username" th:value="${username}"
										placeholder="correo@gmail.com" required>

								</div>


								<div class="form-group mb-3">
									<label for="pass" class="form-label">Contraseña</label> <input type="password"
										class="form-control" id="pass" name="password" placeholder="Contraseña" required
										th:value="${password}">

								</div>


							</div>


						</div>
						<div class="col-md-12  text-center align-middle">
							<input type="submit" class="btn btn-success" value="Entrar">
							<a href="javascript: history.go(-1)" class="btn btn-primary">Volver</a>
						</div>

					</div>

			</div>
			</form>

			<div class="row mt-3">
				<div class=" text-center align-middle">


					<a th:href="@{/candidato/registro}" class="btn btn-secondary" tabindex="13">No tengo cuenta,
						registrarme.</a>
					<div class="row alert-danger text-center" th:if="${msgError}">
						<p th:text="${msgError}"></p>
					</div>

				</div>
				</div>



	</main>



	<footer th:replace="fragments/base :: footer"></footer>
	<th:block th:replace="fragments/base :: script"></th:block>

</body>

</html>