<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">

</head>

<body>
	<nav th:replace="fragments/base :: navbar"></nav>
	<main class="container content">
		<h1 th:text="${pregunta}"></h1>
		<h3 th:text="${msg}"></h3>
		<a th:href="@{'/app/empresa/oferta/eliminar/' + ${id}}"  th:text="${'Si'}" class="btn btn-danger">Button</a>
		<a  href="/app/empresa/oferta/listado/"  th:text="${'No'}" class="btn btn-warning">Button</a>
	</main>
	<footer th:replace="fragments/base :: footer"></footer>
	<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>