<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
	<meta charset="utf-8">
</head>
<body>
	<header></header>
	
	<nav th:replace="fragments/base :: navbar"></nav>
	
	<main>
		<h1 class="text-center" th:text="'Habilidades para ' + ${ofertaEmpleo.tituloOferta}"></h1>
		<hr>
		<section class="row">
			<div class="col-2"></div>
			<div class="card row col-2" style="height: fit-content; padding:1%;">
				<form th:action="@{/habilidadOferta/modificarConfirmado}" th:object="${habilidadOferta}" method="POST">
					<label for="habilidad">Habilidad: </label>
					
					<select disabled id="habilidad" th:field="*{habilidad}" class="form-control">
						<option
						th:value="${thisHabilidad.idHabilidad}"
						th:text="${thisHabilidad.nombreHabilidad}">
					</select>	
					
					<label for="experiencia">Experiencia (meses): </label>
					
					<input id="experiencia" type="number" min="0"
						th:field="*{experienciaOferta}"
						class="form-control"
						required>
					
					<label for="isObligatorio">Requerida:</label>
					<select id="isObligatorio" name="isObligatorio" class="form-control">
						<option	value=true>SI</option>
						<option value=false>NO</option>
					</select>
					
					<label for="baremo">Baremo importancia:</label>
					<input id="baremo" type="range" min="1" max="9"
						th:field="*{baremo}"
						style="width:100%"
						required
						onmousemove="valorBaremo.innerHTML=baremo.value">
					<p class="text-center" id=valorBaremo th:value="${habilidadOferta.baremo}">5</p>
					
					<input type="hidden" name="ofertaEmpleo"
							th:value = "${ofertaEmpleo.idOfertaEmpleo}"
							class="form-control"
					/>
					
						
					<br>
					
					<div class="text-center">
						<input type="submit" th:value="Modificar"
								class="btn btn-primary"/>
						
						<a class="btn btn-warning" th:href="@{'/habilidadOferta/' + ${ofertaEmpleo.idOfertaEmpleo}}">Volver</a>
					</div>
				</form>
			</div>
			
			<div class="container col-4">
				<div class="row">
					<div class="col">
						<table class="table table-hover table-bordered">
							<thead class="table-dark">
								<tr>
									<th>Habilidad</th>
									
									<th>Experiencia</th>
									
									<th>Requerida</th>
									
									<th>Baremo</th>
								</tr>
							</thead>
							<tr th:each="habilidad:${habilidadesAnadidasEnLaOferta}">
								<td class="align-middle" th:text="${habilidad.habilidad.nombreHabilidad}"
									th:style = "${habilidad.isObligatorio} ? : 'color: blue' : 'color: black'">
									</td>
									
								<td class="align-middle" th:text="${habilidad.experienciaOferta}"></td>
							
								<td class="align-middle" th:text="${habilidad.isObligatorio} ? 'SI' : 'NO'"></td>
								
								<td class="align-middle" th:text="${habilidad.baremo}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
	
		<aside></aside>
	</main>
	
	<footer th:replace="fragments/base :: footer"></footer>
  		
  	<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>