<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base :: head">
	<meta charset="utf-8">
</head>
<body>
	<header></header>
	
	<nav th:replace="fragments/base :: navbar"></nav>
	
	<main>
		<h1 class="text-center" th:text="'Habilidades para ' + ${ofertaEmpleo.tituloOferta}"></h1>
		
		<section>
			<div class="row">
				<div class="col-5"></div>
				<div class="col-2">
					<form th:action="@{/habilidadOferta/guardar}" th:object="${habilidadOferta}" method="POST">
						<label for="habilidad">Habilidad: </label>
						
						<select id="habilidad" th:field="*{habilidad}" class="form-control">
							<option th:each="habilidadX:${listaHabilidadesRestante}"
							th:value="${habilidadX.idHabilidad}"
							th:text="${habilidadX.nombreHabilidad}">
						</select>	
						
						<label for="experiencia">Experiencia: </label>
						
						<input id="experiencia" type="number"
							th:field="*{experienciaOferta}"
							class="form-control"
							required>
						
						<input type="hidden" name="ofertaEmpleo"
								th:value = "${ofertaEmpleo.idOfertaEmpleo}"
								class="form-control"
						/>
						
							
						<br>
						
						<div class="text-center">
							<input type="submit" th:value="Añadir"
									class="btn btn-primary"/>
							
							<a th:href="@{/oferta/listado}">
								<button class="btn btn-warning" th:formaction="@{/oferta/listado}" formNoValidate>Volver</button>
							</a>
						</div>
					</form>
				</div>
			</div>
			
			<br>
			
			<div class="container">
				<div class="row">
					<div class="col">
						<table class="table table-hover table-bordered">
							<thead class="table-dark">
								<tr>
									<th>Habilidad</th>
									
									<th>Experiencia</th>
								</tr>
							</thead>
							<tr th:each="habilidad:${habilidadesAnadidasEnLaOferta}">
								<td class="align-middle" th:text="${habilidad.habilidad.nombreHabilidad}"></td>
									
								<td class="align-middle" th:text="${habilidad.experienciaOferta}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</section>
	
		<aside></aside>
	</main>
	
	<footer th:replace="fragments/base :: footer"></footer>
  		
  	<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>