<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head th:replace="fragments/base :: head">


</head>

<body>
	<nav th:replace="fragments/base :: navbar"></nav>

	<main class="container content">

		<h1 th:text="${titulo}" class="text-secondary"
			style="text-align: center;"></h1>
		<hr>
		
		<div class="row m-3">
			<div class="card-body text-center">
				<a th:href="@{'/app/empresa/oferta/formulario'}"
					th:text="${'Añadir oferta'}"
					sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
					class="btn btn-success" style="width: 200px">Button</a>
			</div>
			<div class="alert alert-warning" th:text="${msg}"
				sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
				style="width: 200px; margin: auto" th:if="${isAviso}"></div>
			<div th:each="oferta:${ofertas}" class="container">
			
			<!-- ------------------ -->
			<!-- ESTO ES UNA OFERTA -->
			<!-- ------------------ -->
				<div class="card shadow mb-5 bg-body rounded">
					<!-- SI ESTÁ RECHAZADO/CERRADA -->
					<div class="card-header bg-danger bg-gradient text-center" th:if="${oferta.estadoOferta.id==2}">
						<span th:text="${oferta.tituloOferta}" style="float: left;font-weight: bolder;"/>
						<span th:text="'Código oferta: ' + ${oferta.idOfertaEmpleo}" style="float: right; font-weight: bolder;"/>
						<span th:text="'Oferta ' + ${oferta.estadoOferta.texto}" style="font-weight: bolder;"/>
					</div>
					<!-- SI ESTÁ ACEPTADO/ABIERTA -->
					<div class="card-header bg-success bg-gradient text-center" th:if="${oferta.estadoOferta.id==0}">
						<span th:text="${oferta.tituloOferta}" style="float: left;font-weight: bolder;"/>
						<span th:text="'Código oferta: ' + ${oferta.idOfertaEmpleo}" style="float: right; font-weight: bolder;"/>
						<span th:text="'Oferta ' + ${oferta.estadoOferta.texto}" style="font-weight: bolder;">
					</div>
					<!-- SI ESTÁ PENDIENTE/DESACTIVADA -->
					<div class="card-header bg-warning bg-gradient text-center" th:if="${oferta.estadoOferta.id==1}">
						<span th:text="${oferta.tituloOferta}" style="float: left;font-weight: bolder;"/>
						<span th:text="'Código oferta: ' + ${oferta.idOfertaEmpleo}" style="float: right; font-weight: bolder;"/>
						<span th:text="'Oferta ' + ${oferta.estadoOferta.texto}" style="font-weight: bolder;"/>
					</div>
					<div class="card-body">
						<h3 th:text="${oferta.empresa.nombreEmpresa}" sec:authorize="hasAnyAuthority('ROLE_CANDIDATO')"/>
						<p><b>Localización: </b><span th:text="${oferta.provinciaOferta.nombreProvincia}"/></p>
						<p><b>Salario: </b><span th:text="${oferta.salarioOferta} + ' €'"/></p>
						<p class="recortar-contenido card-text"
							th:text="${oferta.descripcionOferta}">With supporting text
							below as a natural lead-in to additional content.</p>
						<a
							th:href="@{'/app/empresa/oferta/formularioModificar/' + ${oferta.idOfertaEmpleo}}"
							th:text="${'Editar'}"
							sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
							class="btn btn-success" th:if="${oferta.estadoOferta.id==1}">Editar</a>
						<a
							th:href="@{'/app/empresa/inscritos/' + ${oferta.idOfertaEmpleo}}"
							th:text="${'Ver Inscritos'}"
							sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
							class="btn btn-warning">Ver Inscritos</a> <a
							th:href="@{'/app/empresa/oferta/activar/' + ${oferta.idOfertaEmpleo}}"
							th:text="${'Activar'}"
							sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
							class="btn btn-success" th:if="${oferta.estadoOferta.id==1}">Activar</a>
						<a
							th:href="@{'/app/empresa/oferta/cerrar/' + ${oferta.idOfertaEmpleo}}"
							th:text="${'Cerrar Proceso'}"
							sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
							class="btn btn-danger" th:if="${oferta.estadoOferta.id==0}">Cerrar
							Proceso</a> <a
							th:href="@{'/app/empresa/oferta/habilidad/' + ${oferta.idOfertaEmpleo}}"
							th:text="${'Ver Habilidades'}"
							sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
							class="btn btn-warning">Button</a> <a
							th:href="@{'/oferta/detalle/' + ${oferta.idOfertaEmpleo}}"
							th:text="${'Detalle'}"
							sec:authorize="hasAnyAuthority('ROLE_EMPRESA')"
							class="btn btn-dark">Button</a>
					</div>
					<div class="card-footer text-muted bg-light" style="position: relative;bottom: -24px;">
						<span th:text="'Fecha de finalización: ' + ${oferta.fechaFinOfertaOrdenada}" style="float: left;font-weight:bolder;"/>
						<span th:text="${oferta.inscripcionOfertaList.size} + ' inscritos para ' + ${oferta.numeroVacantesOferta} + ' puestos'" style="float: right;font-weight:bolder;"/>
					</div>
				</t/div>
				<br>
			</div>
		</div>
	</main>
	<footer th:replace="fragments/base :: footer"></footer>
	<th:block th:replace="fragments/base :: script"></th:block>
</body>
</html>